NODE_ENV=development
PORT=5000

# database settings
DB_HOST=db.datatrain.rocks
DB_DATABASE=datatrain
DB_USER=datatrain
DB_PASSWORD=password

# database admin 
DB_ADMIN_USER=root
DB_ADMIN_PASSWORD=init12345

# machine learning server
ML_HOST=http://ml.datatrain.rocks/

# own address
SELF_HOST=https://api.datatrain.rocks/

# AWS Bucket
AWS_ACCESS_KEY_ID=id123
AWS_ACCESS_KEY_SECRET=secret12345
